{% include /head.html %}
{% include /header-first-position.html %}
{% include /header-second-position.html %}
<main>
	<div class="article-content">
		<div class="container-cust">
			<div class="row">
				<div class="col-md-8">
					<div class="wrapper-content">
						<article class="main-article">
							<div class="article-body pb-lg-5 pb-md-4 pb-sm-1">
								<h3 class="introduction__short-about-us">
									Мы являемся официальным дистрибьютором Павловнии Квинерджи и имеем все необходимые
									документы как для реализации саженцев, так и для сбыта конечной продукции.
								</h3>
								<p><i class="markup-part-paragraph">Наша цель</i>
									стать лучшими партнерами, для тех кто также как и мы хочет внестивклад в улучшение
									экологии, построив на этом своё прибыльное дело. Для нас важно правильно и
									своевременно донести информацию каждому партнеру. Нам важно не просто хорошее первое
									впечатления, нам важен результат и та польза которую мы можем вмести принести для
									вас
									и окружающей среды. Нашими партнерами являются сельскохозяйственные предприятия,
									лесничества, садоводства,частные организации и рядовые граждане</p>
								<p>Став нашими партнерами вы делаете вклад в возобновляемые ресурсы которые являются
								   частью нашей природы. Мы убеждены, что быстрорастущие культуры такие как Павловния
								   станут
								   уверенной частью агрокультуры нашей страны.
								   Мы делаем вклад в природо-поддерживающие и природо-охранные ресурсы, позволяющие в
								   комплексе улучшить уровень
								   жизни, защитить ценные природные леса, снизить а то и вовсе устранить смещение
								   почвенных
								   слоев и сели за счет мощной
								   и устойчивой корневой системы.
								   Павлония наиболее подходящее для этой цели дерево. Из-за их быстрого роста и
								   высококачественной древесины возможно использование ее в качестве возобновляемого
								   сырья
								   древесины и в то же время защитить ценные природные леса.</p>
								<p>ДОВЕРИЕ. Для многих мы стали партнерами заслужившими доверия и для вас гарантировано
								   станем с первых моментов нашего
								   знакомства. Мы осознаем, что несем ответственность не только за наше дело, нашу
								   репутацию и влияние на окружающую
								   среду</p>

								<p>ПАРТНЕРСТВО. Тем, кто хочет производить ценную древесину Павловния высокого качества,
								   потребуется консультация
								   на
								   протяжении всего жизненного цикла плантации, от закладки до сбора урожая. Мы как
								   партнеры
								   помогаем в любое время так,
								   чтобы
								   каждая плантация выращивалась успешно.</p>
								<p>СТАБИЛЬНОСТЬ. Наши растения являются одними из лучших на рынке Украины, растения
								   которые мы производим выращены с
								   соблюдением всех необходимых стандартов.
								   Такой подход позволяет добиться высокого качества предлагаемых культур,
								   идеально
								   подобраны к местным
								   условиям, устойчивыми к болезням, что только способствует быстрому росту
								   высококачественной
								   древесины.</p>
								<p> С ЗАБОТОЙ И ЛЮБОВЬЮ О БУДУЩЕМ. Мы нацелены на долгосрочный результат - нам
								    радостно
								    осознавать сам факт, что мы
								    вкладываем в будущее окружающей среды. Благодаря быстрому росту Павловнии это
								    будущее
								    наступит не только для
								    будущих поколений, а так же позволит насладиться плодами нашей с вами работой.
								</p>
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4">
{% include /main-aside.html %}
				</div>
			</div>
		</div>
	</div>

</main>
{% include /wood-section.html %}
{% include /footer.html %}