{% include /head.html %}
{% include /header-first-position.html %}
{% include /header-second-position.html %}
<section class="page-header overlay" style="background-image: url(img/products/slider-2/forest-1-3.jpg)">
	<div class="page-header-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 ">
					<div class="wrapper-address pattern">
						<address>
							kvinerdji.com.ua, ООО Чарли<br>
							ул. Валентиновская, 64-б<br>
							г. Харьков<br>
							<abbr title="Phone">Тел:</abbr>
							<a class="tel" href="tel:{{ site.telephone }}">{{ site.telephone }}
							</a>
						</address>
						<address>
							<strong>Бондаренко Артём</strong><br>
							<a class="mail" href="mailto:{{ site.email }}">{{ site.email }} </a>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<main>
	<section class="green-form">
		<div class="container-fluid">
			<div class="col-12 text-center pt-md-4 pt-sm-2">
				<div class="write-to-us ">Напишите нам</div>
				<p>{{ page.description }}</p>
			</div>
			<div class="form-wrapper">
				<div class="box">
					<form enctype="multipart/form-data" id="ajax-contact-form-2" method="post">
						<div class="form-group">
							<label for="nameFF">Имя:</label>
							<input id="nameFF" name="nameFF" required type="text">
						</div>
						<div class="form-group">
							<label for="fathernameFF">Отчество:</label>
							<input id="fathernameFF" name="fathernameFF" required type="text">
						</div>
						<div class="form-group">
							<label for="surnameFF">Фамилия:</label>
							<input id="surnameFF" name="surnameFF" required type="text">
						</div>
						<div class="form-group">
							<label for="contactFF">E-mail:</label>
							<input id="contactFF" name="contactFF" required type="email">
						</div>
						<div class="form-group">
							<label for="telFF">Телефон пользователя:</label>
							<input id="telFF" name="telFF" required type="tel">
						</div>
						<div class="form-group mb-3">
							<label for="projectFF">Сообщение:</label>
							<textarea cols="40" id="projectFF" name="projectFF" rows="3"> </textarea>
						</div>
						<div class="row">
							<button class="btn" id="submitFF" type="submit">Отправить сообщение</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>
{% include /footer.html %}

</body>
</html>