{% include /head-home.html %}
{% include /header-first-position.html %}
{% include /header-second-position.html %}
{% include /header-third-position.html %}


<main>

{% include /home-section-introduction.html %}
{% include /slider-section.html %}
{% include /home-first-section.html %}
{% include /home-green-section.html %}
{% include /type-one-section.html %}
{% include /home-second-section.html %}
{% include /s_more-section.html %}

</main>

{% include /footer.html %}





