{% include /head.html %}
{% include /header-first-position.html %}
{% include /header-second-position.html %}
<main>
	<div class="article-content">
		<div class="container-cust">
			<div class="row">
				<div class="col-md-8">
					<div class="wrapper-content">
						<article class="main-article">
							<div class="article-body pb-lg-5 pb-md-4 pb-sm-1">
								<h1>Результаты поиска:</h1>
{% include /result-search-script.html %}
							</div>
						</article>
					</div>
				</div>
				<div class="col-md-4">
					{% include /search-aside.html %}
				</div>
			</div>
		</div>
	</div>

</main>
{% include /wood-section.html %}
{% include /footer.html %}
</body>
</html>