<div class="cat-list-item">
	<div class="row">
		<div class="col-sm-6">
			<div class="pattern">
				<img alt="" class="img-responsive overlay"
						src="img/products/slider-1/azotfiksator-biomag.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<h3>Азотфиксатор Биомаг грунтовый</h3>

			<p>Азотфиксатор Биомаг - это биотехнологический препарат пролонгированного
			   действия
			   для
			   обработки семян, с целью улучшения азотного питания растений, стимуляции
			   роста
			   корневой системы и обработки вегетации для повышения эффективности
			   фотосинтеза.</p>

			<div class="row justify-content-around mb-3 mb-xs-1 ">
				<div class="col-4 text-center"><a class="btn btn-info"
						href="#">Подробнее</a>
				</div>
				<div class="col-4 text-center"><a class="btn btn-success"
						href="#">Купить</a>
				</div>
			</div>

		</div>
	</div>
</div>