<div class="cat-list-item">
	<div class="row">
		<div class="col-sm-6">
			<div class="pattern">
				<img alt="" class="img-responsive overlay"
						src="img/products/slider-1/azotfiksator-biomag.jpg">
			</div>
		</div>
		<div class="col-sm-6">
			<h3><a href="page-fitodoctor.html">Фитодоктор</a></h3>

			<p>Фитодоктор - это биологический фунгицид широкого спектра действия для профилактики и лечения комплекса заболеваний сельскохозяйственных, плодово-ягодных, овощных и декоративных культур, вызванных фитопатопатогенными грибами та бактериями.</p>
			<div class="row justify-content-around mb-3 mb-xs-1">
				<div class="col-4 text-center"><a class="btn btn-info"
						href="#">Подробнее</a>
				</div>
				<div class="col-4 text-center"><a class="btn btn-success"
						href="#">Купить</a>
				</div>
			</div>
		</div>
	</div>
</div>