<div class="cat-list-item">
	<div class="row">
		<div class="col-sm-6">
			<div class="pattern">
				<img alt="" class="img-responsive overlay"
						src="img/products/slider-1/biofosforin.png">
			</div>
		</div>
		<div class="col-sm-6">
			<h3>Биофосфорин - для корневой системы</h3>

			<p>Биофосфорин - это биотехнологический препарат пролонгированного действия
			   для улучшения фосфорного и калиевого питания растений и стимуляции роста
			   корневой
			   системы</p>
			<div class="row justify-content-around mb-3 mb-xs-1">
				<div class="col-4 text-center"><a class="btn btn-info"
						href="#">Подробнее</a>
				</div>
				<div class="col-4 text-center"><a class="btn btn-success"
						href="#">Купить</a>
				</div>
			</div>
		</div>
	</div>
</div>