<aside class="main-aside">
	<!--<div class="aside-box">
		&lt;!&ndash;<img alt="alt" class="img-responsive" src="#">&ndash;&gt;
	</div>-->
	<div class="aside-box">
{% include /hostiq-adv-aside.html %}
		<div class="latest-box">
			<div class="lb-header">Последние статьи:</div>
			<div class="lb-list">
				<div class="lb-item">
					<a class="lb-catname" href="#">Новые саженцы</a>
					<div class="lb-body">
						<a class="lb-item-header" href="#">В продаже появились новые саженцы
						                                   кукурузы по 3 гривни за кг</a>
						<div class="lb-footer">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count"
									href="#disqus_thread">26</a><span
									class="date">28/08/2020</span>
							</div>
						</div>
					</div>
				</div>
				<div class="lb-item">
					<a class="lb-catname" href="#">Пчеловодство в квартирах</a>
					<div class="lb-body">
						<a class="lb-item-header" href="#">Виртуальные пчелы научились
						                                   генерировать
						                                   сотовый мед, который в дальнейшем
						                                   станет
						                                   прототипом гибких экранов
						                                   лаптопов</a>
						<div class="lb-footer">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count"
									href="#disqus_thread">26</a><span
									class="date">28/08/2020</span>
							</div>
						</div>
					</div>
				</div>
				<div class="lb-item">
					<a class="lb-catname" href="#">Вести с полей</a>
					<div class="lb-body">
						<a class="lb-item-header" href="#">Загони воробья на коленках в поле и
						                                   получи скидку по промокоду</a>
						<div class="lb-footer">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count"
									href="#disqus_thread">26</a><span
									class="date">28/08/2020</span>
							</div>
						</div>
					</div>
				</div>
				<div class="lb-item">
					<a class="lb-catname" href="#">Не кормите крокодила цветами Павловнии</a>
					<div class="lb-body">
						<a class="lb-item-header" href="#">Крокодил Гена признался, что очень
						                                   долго
						                                   был зависим от цветков Павловнии, но
						                                   потом перешел на древесину</a>
						<div class="lb-footer">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count"
									href="#disqus_thread">26</a><span
									class="date">28/08/2020</span>
							</div>
						</div>
					</div>
				</div>
				<div class="lb-item">
					<a class="lb-catname" href="#">Будь умнее придумай сам</a>
					<div class="lb-body">
						<a class="lb-item-header" href="#">Когда нибудь здесь появятся
						                                   потресающие
						                                   заголовки о том как тыква
						                                   превращается в
						                                   карету</a>
						<div class="lb-footer">
							<div class="item-comments" title="Количество комментариев">
								<i class="fa fa-comment"></i><a class="item-comments-count"
									href="#disqus_thread">26</a><span
									class="date">28/08/2020</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="aside-box">
		<!--<img alt="alt" class="img-responsive" src="#">-->
	</div>
	<div class="aside-box">
		{% include /latest-comments.html %}
	</div>
</aside>
