<section class="calculator-section" style="background-image: url(img/green-ray.jpg)">
	<div class="container calc">
		<p class="text-center mb-3">Калькулятор рассады Павловнии</p>
		<div class="row">
			<div class="col-md-6">
				<div id="calc">

					<div class="form-group">
						<label for="tree-spice">Выберите вид для посадки</label>
						<select class="form-control" id="tree-spice">
							<option selected>Вид дерева</option>
						</select>
					</div>
					<div class="form-group">
						<label for="method">Метод высадки</label>
						<select class="form-control" id="method">
							<option>Размер сетки посадки</option>
						</select>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="width">Ширина участка, м</label>
							<input class="form-control square-field" id="width" min="1" size="3" type="number" value="4">
						</div>
						<div class="form-group col-md-6">
							<label for="length">Длина участка, м</label>
							<input class="form-control square-field" id="length" min="1" size="3" type="number" value="4">
						</div>
					</div>
				</div>
				<button type="button" class="btn btn-default btn-xs btn-warning mb-2 bnt-reload">Сброс</button>
			</div>
			<div class="col-md-6">
				<table class="table" style="border: unset;">
					<thead>
					<tr>
						<th>Наименование</th>
						<th>Параметр</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Выбранный сорт</td>
						<td class="tree-spice">-</td>
					</tr>
					<tr>
						<td>Площадь участка</td>
						<td class="square">-</td>
					</tr>
					<tr>
						<td>Кол-во посадочного материала</td>
						<td class="qnt">-</td>
					</tr>
					<tr>
						<td>Цена Саженца</td>
						<td class="price">-</td>
					</tr>
					<tr>
						<td>Сумма закупки</td>
						<td class="sum">-</td>
					</tr>
					<tr>
						<td>Объем деловой древесины м<sup>3</sup></td>
						<td class="wood">-</td>
					</tr>
					<tr>
						<td>Прибыль за 6 лет $</td>
						<td class="profit">-</td>
					</tr>


					</tbody>
				</table>
			</div>
		</div>

	</div>
</section>
