<section class="category-list-item">
	<div class="cat-list-item">
		<div class="row">
			<div class="col-sm-6">
				<div class="pattern">
					{% if page.category != 'questions' %}
					<img alt="{{ post.title }}" class="img-responsive overlay" src="{{ post.thumb }}">
					{% endif %}

					{% if page.category == 'questions' %}
					<div class="embed-container">
						<iframe src="{{ post.video }}"></iframe>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-sm-6">
				<a class="cat-list-item" href="{{ post.url }}">
					<h3> {{ post.title }}</h3>
					{% if page.category != 'product' %}
					<div class="date"> {{ post.date | date: '%d'}}/{{ post.date | date: '%m'}}/{{ post.date | date: '%Y' }}
					</div>
					{% endif %}
					<p>{{ post.content | strip_html | truncatewords: 15 }}</p>
				</a>
			</div>
		</div>
	</div>
	{% if page.category == 'product' %}
	<div class="row mb-3">
			<div class="price {{ post.class-price }}"></div>
			<div class=" {{ post.class-money-ua }} "></div>
			<div class=" {{ post.class-pack }} "> {{ post.pack-value }}</div>
		<button class="{{ page.class-button }}"> {{ page.class-button-title }}</button>
	</div>
	{% endif %}
</section>

