<a href="https://agro.me.gov.ua/storage/app/uploads/public/5f4/79e/7c3/5f479e7c314e0230771390.pdf">
	"Державний реєстре сортів рослин, придатних для поширення в Україні на 2020 рік." страница 473.</a>
<div class="wrapper-img">
	<div class="row">
		<div class="col-lg-3 ">
			<a class="pb-2"
					href="https://agro.me.gov.ua/storage/app/uploads/public/5f4/79e/7c3/5f479e7c314e0230771390.pdf"
					style="display: inline-block;">
				<img alt="Перша сторінка державного реєстру"
						class="derzavniy-reestr"
						src="img/products/paulownia-related-f/derzavnii-reestr.jpg"></a>
		</div>
		<div class="col-lg-9">
			<img alt="Витяг з державного реєстру"
					class="derzavniy-reestr"
					src="img/products/paulownia-related-f/reestr-kvinerdji.png">
		</div>
	</div>
</div>