<div class="wrapper-footer">
	<footer class="main-footer">
		<div class="container">
			<nav class="main-menu main-menu_footer-menu">
{% include /main-menu-t2.html %}
			</nav>
			<nav class="soc">
				<ul>
					<li><a href="https://www.facebook.com/organicplace_ua-2165881896822477"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/organicplace_ua/"><i class="fa fa-instagram"></i></a></li>
					<li><a href="https://www.youtube.com/channel/UCYn3cuKcu8hPK6Xmz3H9G4g/"><i class="fa fa-youtube-play"></i></a></li>
					<!--<li><a href="#"><i class="fa fa-rss"></i></a></li>-->

				</ul>
			</nav>
		</div>
	</footer>
	<footer class="bottom-footer">
		<div class="container text-center">
			<div class="footer-copy">{{ site.time | date: '%Y' }}
				<div class="fa fa-copyright"></div>
				<span class="logo-footer logo-litera">{{ site.name }}</span></div>
			<p> {{ site.copyright }} </p>
		</div>
	</footer>
</div>
<script src="../js/scripts.min.js?v=3.51"></script>


<script id="dsq-count-scr" src="//kvinerdji.disqus.com/count.js" async></script>



