<section class="contact-section">
	<div class="container-cust ">
		<div class="row ">
			<div class="col-9 mx-auto">
				<div class="wrapper-form">
					<form>
						<div class="form-group">
							<label for="exampleFormControlInput1">Email address</label>
							<input class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
									type="email">
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect1">Example select</label>
							<select class="form-control" id="exampleFormControlSelect1">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlSelect2">Example multiple select</label>
							<select class="form-control" id="exampleFormControlSelect2" multiple>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="form-group">
							<label for="exampleFormControlTextarea1">Example textarea</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
