<div class="popup-wrapper d-none">
	<div class="container-fluid">
		<div class="container">
			<div class="form-wrapper form-wrapper_dark-green d-none">
				<div class="box">
					<div class="close">x</div>
					<form enctype="multipart/form-data" id="ajax-contact-form-2" method="post">
						<div class="form-group">
							<label for="nameProduct">Наименование:</label>
							<input id="nameProduct" name="nameProduct">
						</div>
						<div class="row">
							<div class="col-6 col-sm-3">
								<div class="form-group">
									<label for="priceP">Цена:</label>
									<input id="priceP" name="priceP">
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="form-group">
									<label for="moneyGr">Валюта:</label>
									<input id="moneyGr" name="moneyGr">
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="form-group">
									<label for="numbers">Kоличество:</label>

									<input id="numbers" max="1000" min="1" name="numbers" type="number" value="1">
								</div>
							</div>
							<div class="col-6 col-sm-3">
								<div class="form-group">
									<label for="pack">Упаковка:</label>
									<input id="pack" name="pack">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<label for="multiplyOfOrder">Итого:</label>
									<input id="multiplyOfOrder" name="multiplyOfOrder">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="nameFF">Имя:</label>
									<input id="nameFF" name="nameFF" required type="text">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="fathernameFF">Отчество:</label>
									<input id="fathernameFF" name="fathernameFF" required type="text">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
									<label for="surnameFF">Фамилия:</label>
									<input id="surnameFF" name="surnameFF" required type="text">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="contactFF">E-mail:</label>
									<input id="contactFF" name="contactFF" required type="email">
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label for="telFF">Телефон пользователя:</label>
									<input id="telFF" name="telFF" required type="telFF">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="cityFF">Город, область:</label>
							<input id="cityFF" name="cityFF" required type="text">
						</div>
						<div class="form-group">
							<label for="newpostFF">Отделение Новой Почты:</label>
							<input id="newpostFF" name="newpostFF" required type="text">
						</div>
						<div class="form-group mb-3">
							<label for="projectFF">Сообщение:</label>
							<textarea cols="40" id="projectFF" name="projectFF" rows="3"> </textarea>
						</div>
						<!--<div class="control-file">
					<label for="fileFF">Прикрепить файл:</label>
					<input id="fileFF" name="fileFF" type="file">
				</div>-->
						<div class="row">
							<div class="col-lg-6">
								<button class="btn" id="submitFF" type="submit">Отправить сообщение</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>