<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<base href="{{site.baseurl}}">
	<title>{{ page.title}} | {{ site.title }}</title>
	<meta name="keywords" content="{{site.keywords}}">
	<meta content="{{ page.description }}"
			name="description">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Template Basic Images Start -->
	<meta content="{{ page.image }}" property="og:image">
	<link href="{{site.imagetitle}}" rel="icon">
	<link rel="preload" href="../css/main.min.css" as="style">
	<link rel="preload" href="../js/scripts.min.js" as="script">
	<!-- Template Basic Images End -->
	<!-- Custom Browsers Color Start -->
	<meta content="{{site.themecolor}}" name="theme-color">
	<!-- Custom Browsers Color End -->
	<link href="../css/main.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

</head>
<body class="is-category">
