<header class="baner-pavlovnia-to-wood">
	<div class="container-fluid">
		<div class="row">
			<div class="custom-section">
				<div class="block -left">
					<img alt="alt" class="background" src="../img/products/slider-2/forest-1.jpg">
					<a class="link" href="">От саженца в поле</a>
				</div>
				<div class="block -right">
					<img alt="alt" class="background" src="../img/2-pav-banner.jpg">
					<a class="link" href="#">До деловой древесины</a>
				</div>
				<div class="markup markup-num">за 6 лет</div>
			</div>
		</div>
	</div>
</header>