<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<base href="{{site.baseurl}}">
	<title>{{ page.title}} | {{ site.title }}</title>
	<meta content="{{ page.description }}"
			name="description">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<!-- Template Basic Images Start -->
	<meta content="{{ page.image }}" property="og:image">
	<link href="{{site.imagetitle}}" rel="icon">
	<!-- Template Basic Images End -->
	<!-- Custom Browsers Color Start -->
	<meta content="{{site.themecolor}}" name="theme-color">
	<!-- Custom Browsers Color End -->
	<link href="../css/main.min.css" rel="stylesheet">
</head>
<body class="is-blog">
