<header class="pattern pattern-cat-header first-position">
	<div class="cat-header overlay" style="background-image: url(../img/products/slider-2/forest-1.jpg)">
		<div class="container-fluid">
			<div class="cat-header-block cat-header-block_first text-center">
				<div class="logo logo-litera">{{site.name}}</div>
				<h1 class="main-title main-title_shadow-decor"></h1>
				<div class="contact-field">
					<a class="tel" href="tel:{{site.telephone}}"> {{site.telephone}}</a>
					<a class="mail" href="mailto:{{site.email}}"> {{site.email}}</a>
				</div>
			</div>
		</div>
	</div>
</header>