<header class="pattern pattern-cat-header first-position">
	<div class="cat-header overlay" style="background-image: url(images/forest-1.jpg)">
		<div class="container-fluid">
			<div class=" cat-header-block cat-header-block_first text-center">
				<div class="row align-content-center">

					<div class="logo-partner">
						<div class="logo logo-litera">{{site.name}}</div>
						<div class="logo-partner__introduction"> <span class="first-word-description">Наш </span><span>Партнёр:</span></div>
						<img src="img/logo_partner/agro-enzim.webp" class="enzim" alt="logo-enzim">
					</div>
				</div>
				<!--<div class="contact-field">
					<a class="tel" href="tel:{{site.telephone}}"> {{site.telephone}}</a>
					<a class="mail" href="mailto:{{site.email}}"> {{site.email}}</a>
				</div>-->
			</div>
		</div>
	</div>
</header>
