<!DOCTYPE HTML>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<base href="{{site.baseurl}}">
	<title>{{ page.title}} | {{ site.title }}</title>
	<meta content="{{ page.description }}"
			name="description">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<!-- Template Basic Images Start -->
	<meta content="{{ page.image }}" property="og:image">
	<link href="{{site.imagetitle}}" rel="icon">
	<link rel="preload" href="../css/main.min.css" as="style">
	<link rel="preload" href="../js/scripts.min.js" as="script">
	<!-- Template Basic Images End -->
	<!-- Custom Browsers Color Start -->
	<meta content="{{site.themecolor}}" name="theme-color">
	<!-- Custom Browsers Color End -->
	<link href="../css/main.min.css" rel="stylesheet">
	<script data-ad-client="ca-pub-1715883485228653" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="is-category">
