<section class="section second-section">
	<div class="container-cust">
		<div class="row">
			<div class="col-md-12 " style="justify-content: space-around;">
				<h2><a href="#">Интересные факты</a></h2>
				<div class="row news-wrap">
					<div class="col-md-4">
						<div class="pattern">
							<a class="overlay item-news medicine-drugs" href="#"
									style="background-image: url(../img/blog/pavlovnia-kvin/6-leave-ov-pawl.jpg)">
								<div class="item-news-content">
									<h3>Листья Павловнии применяются в китайской медицине
									</h3>
									<span class="date"> {{ post.date | date: '%d'}}/{{ post.date | date: '%m'}}/{{ post.date | date: '%Y' }} </span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pattern news-wrap-music-tools">
							<a class="overlay item-news wood-music-tools" href="#"
									style="background-image: url(../img/blog/pavlovnia-kvin/muzikalnii-instrumenti-iz-paulownii.png)">
								<div class="item-news-content">
									<h3>Из древесины Павловнии изготавливают
									    музыкальные инструменты и предметы обихода.
									</h3>
									<span class="date">21/09/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="pattern">
							<a class="overlay item-news krugliak" href="#"
									style="background-image: url(../img/blog/pavlovnia-kvin/krugliak-po-godam-3.png)">
								<div class="item-news-content">
									<h3>Древесина Павловнии ценна в любом виде: от бревна до кругляка.</h3>
									<span class="date">21/09/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pattern">
							<a class="overlay item-news animals-eating" href="#"
									style="background-image: url(../img/blog/pavlovnia-kvin/telnok-est-paulowniu-1.png)">
								<div class="item-news-content">
									<h3>Гранулы из листьев Павловнии используются в подкорме крупного рогатого
									    скота.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pattern">
							<a class="overlay item-news bees-eating" href="#"
									style="background-image: url(../img/blog/pavlovnia-kvin/med-soty.png)">
								<div class="item-news-content">
									<h3>Мёд собранный с цветов Павловнии очень вкусный и полезный.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>