<div class="add-hostiq-container add-hostiq-container_aside ">

	<a class = "button-hostiq" href="https://hostiq.ua/clients/aff.php?aff=4394&bid=184" rel="nofollow"><img src="https://hostiq.ua/images/aff-banners/cloud_hosting_88x31_2.gif"  height="31" alt="" title="" border="0"/></a>
	<a class = "button-hostiq" href="https://hostiq.ua/clients/aff.php?aff=4394&bid=78" rel="nofollow"><img src="https://hostiq.ua/images/aff-banners/VPS_servers_88x31.gif"  height="31" alt="Качественные VPSки от HOSTiQ.ua" title="Покупайте недорогие виртуальные серверы у HOSTiQ.ua" border="0"/></a>
	<a class = "button-hostiq" href="https://hostiq.ua/clients/aff.php?aff=4394&bid=107" rel="nofollow"><img src="https://hostiq.ua/images/aff-banners/Shop_hosting_88x31.gif"  height="31" alt="" title="" border="0"/></a>
	<a class = "button-hostiq" href="https://hostiq.ua/clients/aff.php?aff=4394&bid=72" rel="nofollow"><img src="https://hostiq.ua/images/aff-banners/WP_hosting_88x31.gif"  height="31" alt="" title="" border="0"/></a>
</div>
