<ul>
	<!--<li><a href="/">Главная</a></li>-->
	<li><a class="nav-link" href="/">Главная</a></li>
	<li><a class="nav-link" href="blog/product/">Биопрепараты</a></li>
	<li><a class="nav-link" href="blog/roots-plants/">Саженцы</a></li>
	<li><a class="nav-link" href="blog/garden-tools/">Инвентарь</a></li>
	<li><a class="nav-link" href="https://kvinerdji-shope.top/">Магазин</a></li>
	<li class="nav-item dropdown">
		<a class="dropdown-switcher">Блог</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="blog/articles/">Статьи</a>
			<a class="dropdown-item" href="blog/questions/">ЧЗВ</a>
			<a class="dropdown-item" href="blog/about/">О сайте</a>
			<a class="dropdown-item" href="blog/contacts/">Контакты</a>
		</div>
	</li>

</ul>




