<section class="coverflow-slider">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 ">
				<div class="wrapper-content">
					<div class="container-cust"
							style="border: 1px solid transparent; background-color: #fff; box-shadow: none;">
						<div class="content">
							<h2>Наша фото-галерея</h2>
							<p></p>
						</div>
					</div>
					<div class="swiper-container container-swiper-coverflow">

						<div class="swiper-wrapper swiper-wrapper-custom">
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/1-pav-banner.jpg)">
							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/forest-1.jpg)">
							</div>

							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/owner-in-forest.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/blog/pavlovnia-kvin/telnok-est-paulowniu-1.png)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/forest-pavl.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/paulownij-krasivie-listij.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/young-little-tree.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/paulownij-na-prospecte-nauky.jpg)">

							</div>

							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/kvinerji.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/forest-4.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/pavlovnija-sun-forest.jpg)">

							</div>
							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/paulovnia-delovaij-drevesina.jpg)">
							</div>

							<div class="swiper-slide swiper-slide-custom"
									style="background-image:url(../img/products/slider-2/pavlovnija-visokii.jpg)">
							</div>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-button-next swiper-button-coverfow"></div>
						<div class="swiper-button-prev swiper-button-coverfow"></div>
						<!-- Add Pagination -->
						<div class="swiper-pagination swiper-pagination-coverflow"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>