
<section class="introduction-product">
	<div class="container-cust">
		<div class="wrapper-content">
			<div class="row">
				<div class="col-12">
					<h2> {{ page.title-introduction }}</h2>
					<p><i class="markup-part-paragraph">
						{{ page.title-description }}</i>
					</p>
					<ul class="list-type-of-paulownij">
						<li><a href="#"> {{ page.shan-tong }} </a></li>
						<li><a href="#">{{ page.pao-tong }}</a></li>
						<li><a href="#">{{ page.kvinergy }}</a></li>
					</ul>
					<p><b class="markup-part-paragraph">{{ page.shan-tong }}</b>{{ page.shan-tong-description }} </p>
					<p><b class="markup-part-paragraph">{{ page.pao-tong }}</b> {{ page.pao-tong-description }}</p>
					<p><b class="markup-part-paragraph">{{ page.kvinergy }}</b> {{ page.kvinergy-description }}</p>

{% include /derz-vitiag.html %}
				</div>
			</div>
		</div>
	</div>
</section>