<section class="slider-section">
	<div class="swiper-container swiper-container_black-cover ">
		<div class="cover-black pattern">
			<span class="cover-black__logo logo-litera">Kvinerdji</span>
		</div>
		<!-- Add Pagination -->

		<!-- Add Arrows -->
		<div class="wrapper-button">
			<div class="swiper-button-next swiper-button_custom"></div>
			<div class="swiper-button-prev swiper-button_custom"></div>
		</div>

		<div class="wrapper-title">
			<h2 class="main-title-v2 ">покупайте у нас :</h2>
		</div>
		<div class="swiper-wrapper swiper-wrapper_black-cover">
			<div class="swiper-slide empty1"></div>

{% for post in site.categories.product limit: 20 offset: 0 %}
{% include /slider-section-item.html %}
{% endfor %}

		</div>
		<div class="swiper-pagination swiper-pagination_left-red-active"></div>
	</div>
</section>