<section class="third-section green-section">
	<div class="container-cust">
		<h2><a href="#">Ценная древесина Павловнии</a></h2>
		<div class="row">
			<div class="col-md-3">
				<div class="col-item col-item-green">
					<a href="#"><img alt="alt" class="img-responsive img-width overlay"
							src="../img/blog/pavlovnia-kvin/shan-tong-drevesina-3.jpg"
							title="Качественные цельные стволы"></a>

					<h4><a href="#">По чем покупают и где продают, стволы Павловнии</a></h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-item col-item-green">
					<a href="#"><img alt="alt" class="img-responsive img-width overlay"
							src="../img/blog/pavlovnia-kvin/doska-paulownii-2.png"
							title="Доска цельная, строительная и для декора"></a>

					<h4><a href="#">Строительный и декорирующий материал из отборной древесины Павловнии</a></h4>

				</div>
			</div>
			<div class="col-md-3">
				<div class="col-item col-item-green">
					<a href="#"><img alt="alt" class="img-responsive img-width overlay"
							src="../img/blog/pavlovnia-kvin/krugliak-po-godam-3.png"
							title="кругляк Павловнии для декора и изделий"></a>

					<h4><a href="#">Практичность сырьевой заготовки - кругляк.</a></h4>
				</div>
			</div>
			<div class="col-md-3">
				<div class="col-item col-item-green">
					<a href="#"><img alt="Твердое биотопливо из древесины Павловнии - гранула"
							class="img-responsive img-width overlay"
							src="../img/blog/pavlovnia-kvin/tverdoe-toplivo-iz-pavlovnii.png"
							title="Ценное твердое био-топливо из древесины Павловнии"></a>

					<h4><a href="#">Твердотопливная гранула пеллета - как способ эффективно использовать древесные
					                отходы. </a></h4>
				</div>
			</div>
		</div>
	</div>
</section>